/* * { margin: 0; padding: 0; box-sizing: border-box; } */
/* body { font: 13px Helvetica, Arial; } */

.chat-room-section{
  width: 100%;
  height: 250px;
  /* border: 3px solid blue; */
  background-color: #f6f7f6;
  border-radius: 5px;
  position:relative;
  bottom: 0;
}

.chat-room-section h1{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px 0px; */
  font-weight: 500;
  overflow:   none;
  position:   relative;
  background-color: black;
  border-bottom: 1px solid white;
  height: 40px;
  color: white;
  font-size: 20px;
}

.chat-room textarea {
  height: 130px;
  resize: none;
}

.chat-room-input-field {
  height: 100px;
  width: 478px;
}

.chat-room { 
  background: white; 
  position: relative; 
  bottom: 0; 
  width: 478px; 
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #ebedeb;
  height: 130px;
  border-radius: 3px;
}

.chat-message-input { 
  border: 0; 
  padding: 1% 3%; 
  width: 60%; 
  margin-right: .5%; 
  background-color: none;
  color: black;
}

.chat-room button { 
  background-color: #ebedeb;
  color: #00bc66;
  display: flex;
  justify-content: center;
  width: 479.5px;
  padding: 9px 0;
}

.chat-room button:hover {
  color: #00703c;
}

.chat-file-wrapper {
  top: 8px;
  right: -7px;
  position: absolute;
  overflow: hidden;
  width: 6%;
  /* border: 1px solid red; */
}

.chat-file-input {
  /* border: none;
  background: none;
  width: 100%;
  height: auto;
  border: 1px solid red;
  opacity: 0; */
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.chat-send-icon {
  color: black;
  font-size: 25px;
}

.chat-file-icon {
  color: #333;
  width: 8%;
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: auto;
  position: relative;
  top: 0px;
  bottom: 47px;
  width: 100%;
  height: 178px;
  /* display: table-cell;
  vertical-align: bottom; */
}

#messages li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
  /* background: #eee; */
 }

.chat-message{
  margin: 5px;
  /* border: 1px solid red; */
  color:black;
}

.chat-name{
  color: red;
  font-weight: 600;
}