.left-sidebar{
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 670px;
  background-color: white;
}

.left-homepage-sidebar {
  /* position: absolute;
  float: left; */
  width: 479px;
  /* height: 700px; */
  /* background-color: white; */
  /* z-index: 1; */
}

.left-homepage-sidebar-inner {
  width: 399px;
  height: 325px;
  padding: 10px 40px;
  border-bottom: 1px solid #eee;
}

.left-create-homepage-sidebar-inner {
  width: 399px;
  height: 454px;
  padding: 40px;
  border-bottom: 1px solid #eee;
}

.middle-homepage-sidebar-inner {
  width: 399px;
  height: 274px;
  padding: 19px 40px 40px 40px;
  border-bottom: 1px solid #eee;
}

.left-homepage-sidebar-inner h1 {
  font-size: 40px;
  font-weight: 400;
  height: 76px;
  display: flex;
  justify-content: center;
}

.party-icon-bar {
  height: 50px;
  display: flex;
  justify-content: center;
}

.left-sidebar-picture-section {
  height: auto;
  margin-top: 10px;
  width: 100%;
}

.emoji-icon {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.left-sidebar-picture-section img {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 0px 15px;
}

.see-more{
  display:flex;
  justify-content: center;
}

.left-sidebar-slideshow-img {
  background-color: black;
  height: 184px;
  margin: 0 auto;
}

.left-homepage-sidebar-inner a {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
}

.five-star {
  height: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form-five-star {
  height: 20px;
  margin-bottom: 30px;
  margin-top: 5px;
}

.fa-star {
  margin-right: 5px;
}

.five-star-icons {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.middle-homepage-sidebar-inner img {
  background-color: black;
  width: 80px;
  height: 80px;
  float: left;
}

.user-name-rating {
  font-weight: bold;
  font-size: 17px;
  display: block;
}

.member-since {
  margin-top: 4px;
  font-size: 15px;
  color: #999;
  display: block;
}

.rating-name-section {
  margin-left: 10px;
  height: 80px;
  float: left;
}

.five-star-rating-eachuser {
  float: left;
  height: 80px;
  width: 189px;
  display: flex;
  justify-content: flex-end;
}

.five-star-rating-eachuser img {
  width: 13px !important;
  height: 13px !important;
  background-color: transparent !important;
}

.user-rating-reviews {
  margin-top: 10px;
  width: 100%;
  height: 55px;
  float: left;
}

.middle-homepage-sidebar-inner-inner {
  height: 145px;
}

.see-more-reviews {
  display: flex;
  justify-content: center;
}

.left-sidebar-modal {
  width: 43px;
  height: 1000px;
  background-color: white;
  float: left;
}

.toggle-info-create {
  width: 90%;
  height: 20px;
  /* margin-top: 20px; */
  display:flex;
  justify-content: flex-end;
  padding: 0px 5%;
  /* margin-top: 20px; */
  
}

.info-rectangle {
  width: 24px;
  height: 20px;
  background-color: #00bc66;
  float: left;
}

.green {
  color: #00bc66;
}

.info-rect {
  width: 24px;
  height: 18px;
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  float: left;
}

.create-rect {
  width: 24px;
  height: 20px;
  background-color: #00bc66;
  float: left;
}

.create-rectangle {
  width: 24px;
  height: 18px;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  float: left;
}

.fa-thumbs-up {
  margin-right: 7px;
  margin-top: 9px;
  font-size: 16px !important;
  color: #333;
  margin-left: 4px;
}

.fa-thumbs-down {
  margin-right: 7px;
  margin-top: 9px;
  font-size: 16px !important;
  color: #333;
  margin-left: 4px;
}

.party-title-wrapper span {
  font-size: 13px;
}

.party-title-wrapper {
  height: 50px;
}

.mood-dropdown {
  margin-top: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  display: block;
  padding-left: 10px;
  width: 397px;
  border: 1px solid #ccc;
  background-color: white;
  float: left;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 100;
  height: 30px;
}

.fa-caret-down {
  position: absolute;
  right: 50px;
  top: 185px;
}

.music-caret {
  position: absolute;
  right: 50px;
  top: 265px;
}

.drug-caret {
  position: absolute;
  right: 50px;
  top: 345px;
}

.food-drink-caret {
  position: absolute;
  right: 50px;
  top: 425px;
}

.type-party-caret {
  position: absolute;
  right: 50px;
  top: 505px;
}

.left-homepage-sidebar-inner span {
  font-weight: bold;
}

.select-dropdown {
  height: 80px;
}

.thumbs-up-thumbs-down {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

.close-sidebar{
  position: relative;
  top: 25px;
  left: 25px;
  font-weight: 600;
  font-size: 20px;
}

.star-ratings {
  display: flex;
  justify-content: center;
}
