.map-div {
  /* position: fixed; */
  /* top: 100px; */
}

#map {
  /* width: 1078px;*/
  /* height: 1000px; */
  z-index: -1;
}

/* #events {
    height: 250px;
    overflow-y: scroll;
}

.mapboxgl-canvas {
  left: 0;
  height: 100%;
  width: 100%;
} */

/* .mapboxgl-map{
    z-index: -1;
} */